{
  "presets":[
    "env", "react"
  ],
  "env": {
    "server": {
      "plugins": [[
        "css-modules-transform", {
          "extractCss": "./build/style.css",
          "devMode": false
        }
      ]]
    }
  }
}
